.section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--padding);
	align-items: center;
	padding: calc(var(--gutter) * 5) 0;

	&__description {
		display: flex;
		flex-direction: column;
		gap: var(--padding);
	}

	&__content {
		line-height: 2;
		&-name {
			font-weight: var(--font-weight-medium);
		}
	}

	&__image {
		& .img {
			width: 100%;
		}

		@media (max-width: 800px) {
			width: 50%;
		}
	}
}

.section__list {
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
	color: var(--color-text);

	&-item {
		display: flex;
		align-items: start;
		gap: var(--gutter);

		& .item-img {
			align-self: center;
		}
	}
}
